* {
  margin: 20px;
  padding: 20px;
}

h1 {
  color: #f9fafa;
  background: linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
h1:hover {
  color: #ddddff;
  background: linear-gradient(135deg, rgb(29, 32, 35) 0%, rgb(34, 66, 99) 33%, rgb(30, 44, 124) 100%);
  border-radius: 30px;
  padding: 15px 25px;
  transition: all 0.5s ease-in;
}
@media (max-width: 800px) {
  h1 {
    background: linear-gradient(90deg, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
    color: #101220;
    font-size: 1.5rem;
  }
}

h2, #vih3id {
  color: #f9fafa;
  background: linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
h2:hover, #vih3id:hover {
  color: #ddddff;
  background: linear-gradient(135deg, rgb(29, 32, 35) 0%, rgb(34, 66, 99) 33%, rgb(30, 44, 124) 100%);
  border-radius: 30px;
  padding: 15px 25px;
  transition: all 0.5s ease-in;
}

.continar-1 {
  background: linear-gradient(135deg, #1d1e23 0%, #392263 33%, #451e7c 100%);
  height: 20px;
  padding: 20px;
  margin: 0;
}
.continar-1:hover {
  color: #ddddff;
  background: linear-gradient(135deg, rgb(29, 32, 35) 0%, rgb(34, 66, 99) 33%, rgb(30, 44, 124) 100%);
  border-radius: 50px;
  padding: 25px 45px;
  transition: all 0.4s ease-in;
}

.continar-2 {
  background: linear-gradient(135deg, #1d1e23 0%, #392263 33%, #451e7c 100%);
  height: 40px;
  padding: 20px;
  margin: 0;
}
.continar-2:hover {
  color: #ddddff;
  background: linear-gradient(135deg, rgb(29, 32, 35) 0%, rgb(34, 66, 99) 33%, rgb(30, 44, 124) 100%);
  border-radius: 50px;
  padding: 25px 45px;
  transition: all 0.4s ease-in;
}

.continar-3 {
  background: linear-gradient(135deg, #1d1e23 0%, #392263 33%, #451e7c 100%);
  height: 60px;
  padding: 20px;
  margin: 0;
}
.continar-3:hover {
  color: #ddddff;
  background: linear-gradient(135deg, rgb(29, 32, 35) 0%, rgb(34, 66, 99) 33%, rgb(30, 44, 124) 100%);
  border-radius: 50px;
  padding: 25px 45px;
  transition: all 0.4s ease-in;
}

.continar-4 {
  background: linear-gradient(135deg, #1d1e23 0%, #392263 33%, #451e7c 100%);
  height: 80px;
  padding: 20px;
  margin: 0;
}
.continar-4:hover {
  color: #ddddff;
  background: linear-gradient(135deg, rgb(29, 32, 35) 0%, rgb(34, 66, 99) 33%, rgb(30, 44, 124) 100%);
  border-radius: 50px;
  padding: 25px 45px;
  transition: all 0.4s ease-in;
}

.continar-5 {
  background: linear-gradient(135deg, #1d1e23 0%, #392263 33%, #451e7c 100%);
  height: 100px;
  padding: 20px;
  margin: 0;
}
.continar-5:hover {
  color: #ddddff;
  background: linear-gradient(135deg, rgb(29, 32, 35) 0%, rgb(34, 66, 99) 33%, rgb(30, 44, 124) 100%);
  border-radius: 50px;
  padding: 25px 45px;
  transition: all 0.4s ease-in;
}

p {
  color: #f9fafa;
  background: linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
p:hover {
  color: #ddddff;
  background: linear-gradient(135deg, rgb(29, 32, 35) 0%, rgb(34, 66, 99) 33%, rgb(30, 44, 124) 100%);
  border-radius: 30px;
  padding: 15px 25px;
  transition: all 0.5s ease-in;
}
@media (max-width: 900px) {
  p {
    background: linear-gradient(90deg, rgb(252, 185, 252) 0%, rgb(148, 233, 196) 100%);
    color: #101220;
  }
}

/*# sourceMappingURL=style.css.map */
