@import "variable";

@mixin textstyle($mcolor,$mbgcolor,$mbord,$mpadd){
    color:$mcolor;
    background: $mbgcolor;
    border-radius: $mbord;
    padding: $mpadd;
}

@mixin fontstyle($weight){
    font-weight: $weight;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin hoverEffect{
    &:hover{  
        @include textstyle($hovcolor,$bghovcolor,15px,15px 20px);
    transition: all .2s ease-in;
    }
}

@mixin query($width){
    @if($width==400){
            @media (max-width:400px) {
 @content;
    }
    }
 
    @else if($width==800){
        @media (max-width:800px) {
            @content;
        }
    }
 }