@import "variable";


@mixin textstyle($mcolor,$mbgcolor,$mbord,$mpadd){
    color:$mcolor;
    background: $mbgcolor;
    border-radius: $mbord;
    padding: $mpadd;
   
}

@mixin fontstyle($weight){
    font-weight: $weight;
    font-family: Arial, Helvetica, sans-serif;
}



@mixin hoverEffect{
    &:hover{  
        @include textstyle($hovcolor,$bghovcolor,30px,15px 25px);
    transition: all .5s ease-in;
    }
}

@mixin hoverEffect1{
    &:hover{  
        @include textstyle($hovcolor,$bghovcolor,50px,25px 45px);
    transition: all .4s ease-in;

    }
}

@mixin query($width){
    @if($width==800){
            @media (max-width:800px) {
 @content;
    }
    }
 
    @else if($width==900){
        @media (max-width:900px) {
            @content;
        }
    }
 }
 