$color:#f9fafa;
$bgcolor: linear-gradient(135deg, #323853 0%, #6e37d3 33%, #451e7c 100%);

$hovcolor:#ddddff;
$bghovcolor:linear-gradient(135deg, rgba(29,32,35,1) 0%, rgba(34,66,99,1) 33%, rgba(30,44,124,1) 100%);


