$color:#f9fafa;
$bgcolor:#8317ff;

$hovcolor:#ddddff;
$bghovcolor:rgb(17, 0, 255);


// @keyframes anime {
//     10%{
//         width: calc(100% - 50px);
//     }
//     50%{
//         width: calc(100% - 80px);
//     }
//     100%{
//         width: auto;
//     }
// }
