@import "variable";
@import "mixin";

*{
   margin:(10px * 2);
   padding: 20px;
}

h1{
   @include textstyle($color,$bgcolor,10px,5px 10px);
   @include fontstyle(800);
   @include hoverEffect;
   @include query(800){
      background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
      color: #101220;
      font-size: 
      1.5rem;
   }
   
}
h2{
   @include textstyle($color,$bgcolor,10px,5px 10px);
   @include fontstyle(600);
   @include hoverEffect;

}
@for $item from 1 through 5 {

   .continar-#{$item} {
    background: linear-gradient(135deg, #1d1e23 0%, #392263 33%, #451e7c 100%);
      height: 20px * $item;
     padding: 20px;
     margin: 0;
     @include hoverEffect1;
   } 
}

$itemw: 3;
@while ($itemw > 0) {
.con-#{$itemw} {
   background: linear-gradient(135deg, #1d1e23 0%, #392263 33%, #451e7c 100%);
   height: 10px * $itemw;
   color:antiquewhite;
}
$itemw: $itemw - 1;
}

@each $element,$col,$f in (each-1: rgb(32, 3, 49),each-2: rgb(0, 0, 58),each-3:rgb(0, 44, 29)){
   .#{$element} {
      color:antiquewhite;
     background: $col;
     font-weight: 900;
     font-size: 1.5rem;
   }
}

p{
   @include textstyle($color,$bgcolor,10px,5px 10px);
   @include fontstyle(400);
   @include hoverEffect;
   @include query(900){
      background: linear-gradient(90deg, rgba(252,185,252,1) 0%, rgba(148,233,196,1) 100%);
color:#101220;
   }

}
#vih3id{
   @extend h2 ;
}

